<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/home.css?v=2" />
    <link rel="stylesheet" href="/styles/dashboard.css?v=2" />
  </head>
  <body>
    <main class="dashboard">
      <section class="guilds">
        <h2><%= timeOfDay %>, <%= user.username %>. Choose Your Server</h2>

        <% if (guilds && guilds.length > 0) { %>
        <div class="guild-list">
          <% guilds.forEach(guild => { %>
          <div class="guild-card <%= guild.styleClass %>">
            <% if (guild.icon) { %>
            <img
              src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=64"
              alt="Guild Icon"
              onerror="this.src='https://cdn.discordapp.com/embed/avatars/0.png'"
            />
            <% } else { %>
            <img
              src="https://cdn.discordapp.com/embed/avatars/<%= Math.floor(Math.random() * 5) %>.png"
              alt="Default Icon"
            />
            <% } %>

            <h3>
              <%= guild.name.length > 10 ? guild.name.substring(0, 10) + "..." :
              guild.name %>
            </h3>

            <% if (guild.existsInDB) { %>
            <a href="/dashboard/<%= guild.id %>" class="manage-btn">Manage</a>
            <% } else { %>
            <a
              href="https://discord.com/oauth2/authorize?client_id=1402253672661913660&permissions=8&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fdashboard&integration_type=0&scope=identify+bot+applications.commands&guild_id=<%= guild.id %>&&disable_guild_select=true"
              class="manage-btn"
            >
              Setup
            </a>
            <% } %>
          </div>
          <% }); %>
        </div>
        <% } else { %>
        <p>You are not in any Discord servers.</p>
        <% } %>
      </section>
    </main>
  </body>
</html>
